![logo_ironhack_blue 7](https://user-images.githubusercontent.com/23629340/40541063-a07a0a8a-601a-11e8-91b5-2f13e4e6b441.png)

# Lab | Cleaning categorical data

For this lab, we will be using the dataset in the Customer Analysis Business Case. This dataset can be found in `files_for_lab` folder. In this lab we will explore categorical data.

### Instructions

1. Import the necessary libraries if you are starting a new notebook.
Using the same data as the previous lab: we_fn_use_c_marketing_customer_value_analysis.csv

2. Find  all of the categorical data.  Save it in a categorical_df variable.

3. Check for NaN values.

4. Check all unique values of columns.

5. Check dtypes. Do they all make sense as categorical data?

6. Does any column contain alpha and numeric data?  Decide how to clean it.

7. Would you choose to do anything else to clean or wrangle the categorical data?  Comment your decisions.

8. Compare policy_type and policy.  What information is contained in these columns.  Can you identify what is important?  

9. Check number of unique values in each column, can they be combined in any way to ease encoding?  Comment your thoughts and make those changes.

# Import the necessary libraries if you are starting a new notebook. Using the same data as the previous lab: we_fn_use_c_marketing_customer_value_analysis.csv

In [24]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [25]:
df = pd.read_csv('files_for_lab\we_fn_use_c_marketing_customer_value_analysis.csv')

In [26]:
df.columns = df.columns.str.lower().str.replace(' ', '_').str.replace('.', '_', regex=True)
df.columns

Index(['customer', 'state', 'customer_lifetime_value', 'response', 'coverage',
       'education', 'effective_to_date', 'employmentstatus', 'gender',
       'income', 'location_code', 'marital_status', 'monthly_premium_auto',
       'months_since_last_claim', 'months_since_policy_inception',
       'number_of_open_complaints', 'number_of_policies', 'policy_type',
       'policy', 'renew_offer_type', 'sales_channel', 'total_claim_amount',
       'vehicle_class', 'vehicle_size'],
      dtype='object')

# 2. Find all of the categorical data. Save it in a categorical_df variable.

In [27]:
df_cat = df.select_dtypes(include=[object])

# 3. Check for NaN values.

In [28]:
df_cat.isnull().sum()

customer             0
state                0
response             0
coverage             0
education            0
effective_to_date    0
employmentstatus     0
gender               0
location_code        0
marital_status       0
policy_type          0
policy               0
renew_offer_type     0
sales_channel        0
vehicle_class        0
vehicle_size         0
dtype: int64

# 4. Check all unique values of columns.

In [66]:
for col in df_cat:
    print(df_cat[col].value_counts())
    print('\n')

BU79786    1
PU81096    1
CO75086    1
WW52683    1
XO38850    1
          ..
HS14476    1
YL91587    1
CT18212    1
EW35231    1
Y167826    1
Name: customer, Length: 9134, dtype: int64


California    3150
Oregon        2601
Arizona       1703
Nevada         882
Washington     798
Name: state, dtype: int64


No     7826
Yes    1308
Name: response, dtype: int64


Basic       5568
Extended    2742
Premium      824
Name: coverage, dtype: int64


Bachelor                2748
College                 2681
High School or Below    2622
Master                   741
Doctor                   342
Name: education, dtype: int64


1    4898
2    4236
Name: effective_to_date, dtype: int64


Employed         5698
Unemployed       2317
Medical Leave     432
Disabled          405
Retired           282
Name: employmentstatus, dtype: int64


F    4658
M    4476
Name: gender, dtype: int64


Suburban    5779
Rural       1773
Urban       1582
Name: location_code, dtype: int64


Married     5298
Single      2467
Divorced    1369
Name: marital_status, dtype: int64


Personal Auto     6788
Corporate Auto    1968
Special Auto       378
Name: policy_type, dtype: int64


3    4588
2    2881
1    1665
Name: policy, dtype: int64


1    3752
2    2926
3    1432
4    1024
Name: renew_offer_type, dtype: int64


Agent          3477
Branch         2567
Call Center    1765
Web            1325
Name: sales_channel, dtype: int64


Four-Door Car    4621
Two-Door Car     1886
SUV              1796
Sports Car        484
Luxury SUV        184
Luxury Car        163
Name: vehicle_class, dtype: int64


Medsize    6424
Small      1764
Large       946
Name: vehicle_size, dtype: int64

# 5. Check dtypes. Do they all make sense as categorical data?

In [30]:
df_cat.dtypes

customer             object
state                object
response             object
coverage             object
education            object
effective_to_date    object
employmentstatus     object
gender               object
location_code        object
marital_status       object
policy_type          object
policy               object
renew_offer_type     object
sales_channel        object
vehicle_class        object
vehicle_size         object
dtype: object

In [31]:
# customer is an individual name and effective_to_date should be a date

# 6. Does any column contain alpha and numeric data? Decide how to clean it.

In [35]:
df_cat['renew_offer_type'] = df_cat['renew_offer_type'].str.replace('Offer', '')

C:\Users\TgMiles\AppData\Local\Temp/ipykernel_8576/604395944.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cat['renew_offer_type'] = df_cat['renew_offer_type'].str.replace('Offer', '')

In [36]:
df_cat['renew_offer_type']

0       1
1       3
2       1
3       1
4       1
       ..
9129    2
9130    1
9131    1
9132    3
9133    4
Name: renew_offer_type, Length: 9134, dtype: object

In [39]:
df_cat['policy'].unique()
# policy type is already stoed in 'policy_type' therefor I remove it from Policy

array(['Corporate L3', 'Personal L3', 'Corporate L2', 'Personal L1',
       'Special L2', 'Corporate L1', 'Personal L2', 'Special L1',
       'Special L3'], dtype=object)

In [49]:
df_cat['policy'] = df_cat['policy'].str.replace('(.*)(1)','1', regex=True)
df_cat['policy'] = df_cat['policy'].str.replace('(.*)(2)','2', regex=True)
df_cat['policy'] = df_cat['policy'].str.replace('(.*)(3)','3', regex=True)

C:\Users\TgMiles\AppData\Local\Temp/ipykernel_8576/37045073.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cat['policy'] = df_cat['policy'].str.replace('(.*)(1)','1', regex=True)
C:\Users\TgMiles\AppData\Local\Temp/ipykernel_8576/37045073.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cat['policy'] = df_cat['policy'].str.replace('(.*)(2)','2', regex=True)
C:\Users\TgMiles\AppData\Local\Temp/ipykernel_8576/37045073.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cat['policy'] = df_cat['policy'].str.replace('(.*)(3)','3', regex=True)

In [48]:
df_cat['policy']

0       3
1       3
2       3
3       2
4       1
       ..
9129    1
9130    3
9131    2
9132    2
9133    3
Name: policy, Length: 9134, dtype: object

#7. Would you choose to do anything else to clean or wrangle the categorical data? Comment your decisions.

In [41]:
df_cat['effective_to_date'] = pd.to_datetime(df_cat['effective_to_date'], errors='coerce')
# as mentioned before I convert effective_to_date to date format
# for further analysis we could also drop customer

C:\Users\TgMiles\AppData\Local\Temp/ipykernel_8576/3632551782.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cat['effective_to_date'] = pd.to_datetime(df_cat['effective_to_date'], errors='coerce')

# 8. Compare policy_type and policy. What information is contained in these columns. Can you identify what is important?

In [42]:
# Before I changed them we had redundant information in those columns.
# policy_type tells us if it is private or corporate and policy divides those into 3 different kinds of policis

C:\Users\TgMiles\AppData\Local\Temp/ipykernel_8576/588394589.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cat['effective_to_date'] =  np.where(df_cat['effective_to_date'].dt.month == 1, 1, 2)

# 9. Check number of unique values in each column, can they be combined in any way to ease encoding?

In [67]:
for col in df_cat:
    print(df_cat[col].value_counts())
    print('\n')

BU79786    1
PU81096    1
CO75086    1
WW52683    1
XO38850    1
          ..
HS14476    1
YL91587    1
CT18212    1
EW35231    1
Y167826    1
Name: customer, Length: 9134, dtype: int64


California    3150
Oregon        2601
Arizona       1703
Nevada         882
Washington     798
Name: state, dtype: int64


No     7826
Yes    1308
Name: response, dtype: int64


Basic       5568
Extended    2742
Premium      824
Name: coverage, dtype: int64


Bachelor                2748
College                 2681
High School or Below    2622
Master                   741
Doctor                   342
Name: education, dtype: int64


1    4898
2    4236
Name: effective_to_date, dtype: int64


Employed         5698
Unemployed       2317
Medical Leave     432
Disabled          405
Retired           282
Name: employmentstatus, dtype: int64


F    4658
M    4476
Name: gender, dtype: int64


Suburban    5779
Rural       1773
Urban       1582
Name: location_code, dtype: int64


Married     5298
Single      2467
Divorced    1369
Name: marital_status, dtype: int64


Personal Auto     6788
Corporate Auto    1968
Special Auto       378
Name: policy_type, dtype: int64


3    4588
2    2881
1    1665
Name: policy, dtype: int64


1    3752
2    2926
3    1432
4    1024
Name: renew_offer_type, dtype: int64


Agent          3477
Branch         2567
Call Center    1765
Web            1325
Name: sales_channel, dtype: int64


Four-Door Car    4621
Two-Door Car     1886
SUV              1796
Sports Car        484
Luxury SUV        184
Luxury Car        163
Name: vehicle_class, dtype: int64


Medsize    6424
Small      1764
Large       946
Name: vehicle_size, dtype: int64

In [61]:
# I will combine a few columns in education, employment_status and vehicle_class

Bachelor                2748
College                 2681
High School or Below    2622
Master                   741
Doctor                   342
Name: education, dtype: int64

In [77]:
df_cat['education'].value_counts()

Bachelor                2748
College                 2681
High School or Below    2622
Higher education        1083
Name: education, dtype: int64

In [75]:
new_category = 'Higher education'
df_cat['education'] = df_cat['education'].str.replace('Master', new_category)
df_cat['education'] = df_cat['education'].str.replace('Doctor', new_category)

C:\Users\TgMiles\AppData\Local\Temp/ipykernel_8576/3633736181.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cat['education'] = df_cat['education'].str.replace('Master', 'Higher education')
C:\Users\TgMiles\AppData\Local\Temp/ipykernel_8576/3633736181.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cat['education'] = df_cat['education'].str.replace('Doctor', 'Higher education')

In [80]:
df_cat['employmentstatus'].value_counts()

Employed         5698
Unemployed       2317
Medical Leave     432
Disabled          405
Retired           282
Name: employmentstatus, dtype: int64

In [81]:
new_category = 'other'
df_cat['employmentstatus'] = df_cat['employmentstatus'].str.replace('Medical Leave', new_category)
df_cat['employmentstatus'] = df_cat['employmentstatus'].str.replace('Disabled', new_category)
df_cat['employmentstatus'] = df_cat['employmentstatus'].str.replace('Retired', new_category)

C:\Users\TgMiles\AppData\Local\Temp/ipykernel_8576/2886500218.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cat['employmentstatus'] = df_cat['employmentstatus'].str.replace('Medical Leave', new_category)
C:\Users\TgMiles\AppData\Local\Temp/ipykernel_8576/2886500218.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cat['employmentstatus'] = df_cat['employmentstatus'].str.replace('Disabled', new_category)
C:\Users\TgMiles\AppData\Local\Temp/ipykernel_8576/2886500218.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cat['employmentstatus'] = df_cat['employmentstatus'].str.replace('Retired', new_category)